<div class="container-fluid" id="body">
  <div class="frame">
    <div class="plane-container">
      <a href="http://customer.io/" target="_blank">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="1131.53px" height="379.304px" viewBox="0 0 1131.53 379.304" enable-background="new 0 0 1131.53 379.304"
          xml:space="preserve" class="plane">
          <polygon fill="#D8D8D8"
            points="72.008,0 274.113,140.173 274.113,301.804 390.796,221.102 601.682,367.302 1131.53,0.223  " />
          <polygon fill="#C4C4C3" points="1131.53,0.223 274.113,140.173 274.113,301.804 390.796,221.102   " />
        </svg></a>

    </div>
  </div>
  <div class="clouds">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve"
      class="cloud big front slowest">
      <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
    c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
    C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
    S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve"
      class="cloud distant smaller">
      <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
    c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
    C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
    S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
    </svg>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve"
      class="cloud small slow">
      <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
    c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
    C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
    S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
    </svg>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve"
      class="cloud distant super-slow massive">
      <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
    c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
    C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
    S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
    </svg>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve"
      class="cloud slower">
      <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
    c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
    C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
    S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
    </svg>

  </div>

  <div class="container d-flex text-info align-item-center figlio ">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center my-4">Registrati e fai decollare<br> la tua carriera!</h3>
        <form class="example-form" [formGroup]="f" (ngSubmit)="register(f)">
          <mdb-form-control class="my-3">
            <input mdbInput type="text" class="form-control text-info" formControlName="nome" />
            <label mdbLabel class="form-label text-info" for="nome">Nome</label>
          </mdb-form-control>
          <p *ngIf="!f.get('nome')?.valid && f.get('nome')?.touched">
            Inserire il nome
          </p>
          <mdb-form-control class="my-3">
            <input mdbInput type="text" class="form-control text-info" formControlName="cognome" />
            <label mdbLabel class="form-label text-info" for="cognome">Cognome</label>
          </mdb-form-control>
          <p *ngIf="!f.get('cognome')?.valid && f.get('cognome')?.touched">
            Inserire il cognome
          </p>
          <mdb-form-control class="my-3">
            <input mdbInput type="text" class="form-control text-info" formControlName="citta" />
            <label mdbLabel class="form-label text-info" for="citta">Città</label>
          </mdb-form-control>
          <p *ngIf="!f.get('citta')?.valid && f.get('citta')?.touched">
            Inserire La città
          </p>
          <mdb-form-control class="my-3 d-lg-flex flex-lg-row flex-md-column" formControlName="impiego"
            (change)="getJob()">
            <div class="form-check me-2">
              <input mdbRadio class="form-check-input" formControlName="impiego" type="radio" name="impiego"
                id="frontend" value="Frontend Developer" />
              <label class="form-check-label" for="frontend"> Frontend Developer </label>
            </div>
            <div class="form-check me-2">
              <input mdbRadio class="form-check-input" formControlName="impiego" type="radio" name="impiego"
                id="backend" value="Backend Developer" />
              <label class="form-check-label" for="backend"> Backend Developer </label>
            </div>
            <div class="form-check me-2">
              <input mdbRadio class="form-check-input" formControlName="impiego" type="radio" name="impiego"
                id="fullstack" value="Fullstack Developer" />
              <label class="form-check-label" for="fullstack"> Fullstack Developer </label>
            </div>
          </mdb-form-control>
          <p *ngIf="!f.get('impiego')?.valid && f.get('impiego')?.touched">
            Inserire l'impiego
          </p>
          <mdb-form-control>
          <div class="">
          <div class="form-check" *ngFor="let skill of skills; let i = index">
            <input mdbCheckbox class="form-check-input" formControlName="selectedSkills" type="checkbox" [value]="skill.value" [id]="skill.name" (click)="setCheckbox($event, skill)" />
            <label class="form-check-label" [for]="skill.name">
              {{skill.name}}
            </label>
          </div>
        </div>
          <button type="button" class="btn btn-outline-info" (click)="saveOptions()">Salva</button>

          </mdb-form-control>

          <mdb-form-control class="my-3">
            <input mdbInput type="email" class="form-control text-info" formControlName="email" />
            <label mdbLabel class="form-label text-info" for="email">Email</label>
          </mdb-form-control>
          <p *ngIf="!f.get('email')?.valid && f.get('email')?.touched">
            Inserire email
          </p>
          <mdb-form-control class="my-3">
            <input mdbInput type="password" class="form-control text-info" formControlName="password" />
            <label mdbLabel class="form-label text-info" for="password">Password</label>
          </mdb-form-control>
          <p *ngIf="!f.get('password')?.valid && f.get('password')?.touched">
            Inserire password
          </p>
          <mdb-form-control formControlName="avatar" (change)="getAvatar()">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-6 d-flex flex-row ">
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar 1.svg" id="flexRadioDefault1" />
                    <label class="form-check-label" for="flexRadioDefault1">
                      <img class="img-fluid avatar" src="../../../assets/avatar/avatar 1.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar2.svg" id="flexRadioDefault2" />
                    <label class="form-check-label" for="flexRadioDefault2">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar2.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar3.svg" id="flexRadioDefault3" />
                    <label class="form-check-label" for="flexRadioDefault3">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar3.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar4.svg" id="flexRadioDefault4" />
                    <label class="form-check-label" for="flexRadioDefault4">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar4.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar5.svg" id="flexRadioDefault5" />
                    <label class="form-check-label" for="flexRadioDefault5">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar5.svg">
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6 d-flex flex-row mt-4">
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar6.svg" id="flexRadioDefault6" />
                    <label class="form-check-label" for="flexRadioDefault6">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar6.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar7.svg" id="flexRadioDefault7" />
                    <label class="form-check-label" for="flexRadioDefault7">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar7.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar8.svg" id="flexRadioDefault8" />
                    <label class="form-check-label" for="flexRadioDefault8">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar8.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar9.svg" id="flexRadioDefault9" />
                    <label class="form-check-label" for="flexRadioDefault9">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar9.svg">
                    </label>
                  </div>
                  <div class="form-check">
                    <input mdbRadio class="form-check-input" formControlName="avatar" type="radio" name="avatar"
                      value="../../../assets/avatar/avatar10.svg" id="flexRadioDefault10" />
                    <label class="form-check-label" for="flexRadioDefault10">
                      <img class="img-fluid avatar" style="max-width:70px" src="../../../assets/avatar/avatar10.svg">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </mdb-form-control>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-info m-4" type="submit" [disabled]="!f.valid">
              Vai!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
