.navbar-expand-lg {
  background-color: #000080!important;
 }

 i, a, .blu{
   color: #85B9DC;


 }

 .lente {
   color:  #000080!important;
   background-color: #85B9DC;
   opacity: 0.9;
   font-size: 16px;
 }

.badge-notificationOn {
  visibility: visible;
}

.badge-notificationOff {
  display: none;
}

#blu {
  border: 2px solid #85B9DC;
  color: #85B9DC;
}

