<div class="card">
  <div class="card-header">
    <img src="{{avatar}}" style=" width: 50px;" class="card-img-top img-fluid" alt="" />
    <b>{{nome}} {{cognome}}</b>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{p.testo}}</p>
    <button type="button" class="btn btn-outline-info" id="colore" (click)=" isFav ? rimuoviLike() : mettiLike(p.id)">
      <i class="fas fa-thumbs-up"> {{count}}</i>
    </button>
  </div>
  <div class="card-footer text-muted" id="footer {{p.id}}">
    <form #comment="ngForm" (ngSubmit)="sendComment(comment , p)" class="d-flex">
      <mdb-form-control class="container-fluid" id="comment">
        <textarea mdbInput class="form-control box-comment" require name="comment" #comment="ngModel" ngModel
          aria-label="Commenta il post"></textarea>
      </mdb-form-control>
      <button type="submit" class="btn btn-outline-info mx-2 plus"> + </button>
    </form>
    <hr>

    <div class="card postati" *ngFor="let c of p.commenti">
      <h5 class="card-header"><img src="{{c.userAvatar}}" style="width:20px">{{c.userName}} {{c.userSurname}}</h5>
      <div class="card-body">
        <p class="card-text">{{c.comment}}</p>
      </div>
    </div>
  </div>
</div>
