.btn-outline-info{
  color: #85B9DC ;
  border: 2px solid  #85B9DC;
  background: rgba(133, 185, 220, 0.1);
}
.plus{
  font-size: 20px;
}

#comment{
  background: rgba(133, 185, 220, 0.1);
}

.postati{
  background: rgba(133, 185, 220, 0.2);
  box-shadow: 1px 1px 5px 1px rgb(168, 200, 222);
}
