.navbar-expand-lg {
 background-color: #000080!important;
}

i, a, .blu{
  color: #85B9DC;
}

.btn-outline-info {
  border: 1px solid #85B9DC!important;
  margin-top: 10px;
  font-size: 14px;
}

.feed {
      background-color:  #85B9DC ;
    }

p{
  font-size: 16px;
}

.plane {
  padding-left:10px;
}
 .lente {
  background-color: #000080!important;
  color: #85B9DC!important;
  box-shadow:#000080;
  font-size: 16px;
 }

 .ricerca{
  padding: 0!important;
  margin-top:30px;
 }

 .tabella{
  background-color:white;
  width: 72%;
  margin-top:10px;
     a {
    color:black;
  }

  #post{
    background: rgba(133, 185, 220, 0.1)!important;
  }

  #text {
    font-size: 10px!important;
  }
 }
@media screen and ( max-width:767px) {
  .figlio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

   .resize {
    flex-direction: row;
      h5{
        font-size: 25px;
        margin-right:20px;
      }
      p {
        font-size: 20px;
        margin-right:20px;
      }
      img {
        width: 80%;
        margin-top:15px;
        margin-bottom: 15px;
      }
   }

   .ricerca{
    position: absolute;
    top:60px;
    left:200px;
   }

  .avviaPost {
    margin-top:50px
  }

  }



