.navbar-expand-lg {
  background-color: #000080!important;
}

.background {
   background-color:#85B9DC ;
   width:100%;
}

i, a, .blu{
  color: #85B9DC!important;
}

.btn-outline-info {
  border: 1px solid #85B9DC!important;
  margin-top: 10px;
  font-size: 14px;
}

p{
  font-size: 16px;
}

.avatar{
  margin-left: 40px;
}

.card-avatar{
  margin-bottom: 30px;
}

.plane {
  padding-left:10px;
}

.info{
  color: #85B9DC;
}

.lavoro{
  margin-bottom:25px;
}

ul{
  background: rgba(133, 185, 220, 0.2);
  box-shadow: 1px 1px 5px 1px rgb(168, 200, 222);
}

@media screen and (min-width:769px) and (max-width:991px){
  #post{
    padding-left: 10px;
    padding-right: 10px;
   }

}
@media screen and ( min-width:320px) and (max-width:768px) {
 .padre {
  display:flex;
 }
 h4 {
  text-align: center;
 }
 .skills {
  margin-right: 10px;
 }
 #post{
  padding-left: 10px;
  padding-right: 10px;
 }

 }



