.container-fluid{
  background-color:  #85B9DC;
  height:100vh;
}



h3 {
  color:white;
  padding-left:10px;
}

.lente {
  font-size: 16px;
  color:#85B9DC;
  background-color:  #000080!important;;
}


